svg.center(id='devices-svg' height='300px', style='enable-background:new 0 0 24 24;', version='1.0', viewbox='0 0 24 24', width='300px', x='0px', xmlns='http://www.w3.org/2000/svg', y='0px')
  g#Guides
    g#_x32_0_px_2_
    g#_x32_0px
    g#_x34_0px
    g#_x34_4_px
    g#_x34_8px
      g#_x31_6px
      g#square_4px
        g#_x32_8_px
          g#square_4px_2_
          g#square_4px_3_
          g#square_4px_1_
          g#_x32_4_px_2_
          g#_x31_2_px
    g#Icons
    g#_x32_0_px
    g#square_6px
      g#_x31_2_PX
    g#_x33_6_px
      g#_x33_2_px
        g#_x32_8_px_1_
          g#square_6px_1_
          g#_x32_0_px_1_
            g#_x31_2_PX_2_
            g#_x34_8_px
              g#_x32_4_px
              g#_x32_4_px_1_
    g#_x32_0_px_3_
    g#_x32_0_px_4_
    g#New_Symbol_8
      g#_x32_4_px_3_
  g#Artboard
  g#Free_Icons
    g
      polyline(style='fill:none;stroke-width:0.2;stroke:#a487d3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1;', points='15.5,17.5 \
      2.5,17.5 2.5,9.5    ')
      polyline(style='fill:none;stroke-width:0.2;stroke:#a487d3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1;', points='7.5,4.5 \
      19.5,4.5 19.5,12.5    ')
      line(style='fill:none;stroke-width:0.2;stroke:#a487d3;stroke-linejoin:round;stroke-miterlimit:1;', x1='10.5', y1='17.5', x2='10.5', y2='21.5')
      line(style='fill:none;stroke-width:0.2;stroke:#a487d3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1;', x1='6.5', y1='21.5', x2='14.5', y2='21.5')
      line(style='fill:none;stroke-width:0.2;stroke:#a487d3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1;', x1='2.5', y1='14.5', x2='15.5', y2='14.5')
      rect(x='0.5', y='0.5', style='fill:none;stroke-width:0.2;stroke:#a487d3;stroke-linejoin:round;stroke-miterlimit:1;', width='5', height='7')
      rect(x='17.5', y='14.5', style='fill:none;stroke-width:0.2;stroke:#a487d3;stroke-linejoin:round;stroke-miterlimit:1;', width='6', height='9')
      line(style='fill:none;stroke-width:0.2;stroke:#a487d3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1;', x1='2.5', y1='5.5', x2='3.5', y2='5.5')
