svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 103.07 103.07')
  defs
    style.
      .cls-1,.cls-3{fill:none;stroke:#652ded;stroke-width:1.8px;}.cls-1{stroke-linejoin:round;}.cls-2{fill:#652ded;}.cls-3{stroke-miterlimit:10;}
  g#Layer_2(data-name='Layer 2')
    g#Layer_1-2(data-name='Layer 1')
      rect#_Rectangle_.cls-1(data-name='<Rectangle>', x='15.98', y='30.6', width='65.82', height='42.8', transform='translate(100.9 3.1) rotate(90)')
      rect#_Rectangle_2.cls-1(data-name='<Rectangle>', x='31.43', y='23.37', width='24.76', height='8.56')
      rect#_Rectangle_3.cls-1(data-name='<Rectangle>', x='31.43', y='31.93', width='24.76', height='8.56')
      rect#_Rectangle_4.cls-1(data-name='<Rectangle>', x='31.43', y='40.49', width='24.76', height='8.56')
      circle#_Path_.cls-2(data-name='<Path>', cx='43.58', cy='69.93', r='2.05')
      path.cls-3(d='M102.4,51.53A50.87,50.87,0,1,1,51.53.66,50.87,50.87,0,0,1,102.4,51.53Z')
      path#_Path_2.cls-3(data-name='<Path>', d='M70.29,69.93C78,69,79.58,84.88,92,81.86')
      line#_Path_3.cls-3(data-name='<Path>', x1='52.26', y1='27.65', x2='48.32', y2='27.65')
