svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 102.59 102.59')
  defs
    style.
      .cls-1{fill:none;stroke:#652ded;stroke-miterlimit:10;stroke-width:1.8px;stroke-linejoin:round;}
  g#Layer_2(data-name='Layer 2')
    g#Layer_1-2(data-name='Layer 1')
      g#_Group_(data-name='<Group>')
        path#_Path_.cls-1(data-name='<Path>', d='M51.29,51.29')
        path#_Path_2.cls-1(data-name='<Path>', d='M51.29,51.29')
        path#_Path_3.cls-1(data-name='<Path>', d='M51.29,51.29')
        circle#_Path_4.cls-1(data-name='<Path>', cx='51.29', cy='51.29', r='50.63')
        g#_Group_2(data-name='<Group>')
          rect#_Path_5.cls-1(data-name='<Path>', x='23.96', y='51.29', width='54.66', height='14.91')
          rect#_Rectangle_.cls-1(data-name='<Rectangle>', x='67.62', y='66.2', width='4.97', height='4.97')
          rect#_Rectangle_2.cls-1(data-name='<Rectangle>', x='28.93', y='66.2', width='4.97', height='4.97')
          rect#_Rectangle_3.cls-1(data-name='<Rectangle>', x='68.69', y='56.26', width='4.97', height='4.97')
          rect#_Rectangle_4.cls-1(data-name='<Rectangle>', x='58.75', y='56.26', width='4.97', height='4.97')
          polygon#_Path_6.cls-1(data-name='<Path>', points='21.8 34.76 28.54 51.3 33.9 51.29 26.41 32.88 21.8 34.76')
          polygon#_Path_7.cls-1(data-name='<Path>', points='80.78 34.76 74.05 51.3 68.69 51.29 76.18 32.88 80.78 34.76')
          rect#_Path_8.cls-1(data-name='<Path>', x='48.81', y='31.42', width='4.97', height='19.88')
      path#_Path_9.cls-1(data-name='<Path>', d='M2.54,37.66C10.1,35.88,11.69,66.9,24,61')
