footer.footer
  .container
    .row
      .col-md-3
        h4 Address
        address
          | 260 W. Broadway 
          br
          | Suite #2
          br
          | New York, NY 10013
        span &copy; 2015-2017 Computer Lab
      .col-md-3
      .col-md-3
        h4 Connect
        a(target='_blank' href="https://github.com/computer-lab") Github
        a(target='_blank' href="https://www.linkedin.com/company/computer-lab-ny") LinkedIn
        a(target='_blank' href="https://twitter.com/computerlab_") Twitter
        a(target='_blank' href="https://www.linkedin.com/company/computer-lab-ny") Instagram
        a(target='_blank' href="https://twitter.com/computerlab_") Facebook
      .col-md-3
        h4 Inquiries
        span hi@computerlab.io
        br
        span +1 (716) 472-4484