// Footer
footer
  .container.text-center
    p Copyright © Computer Lab 2015-2016
// jQuery
script(src='js/jquery.min.js')
// Bootstrap Core JavaScript
script(src='js/bootstrap.min.js')
// Plugin JavaScript
script(src='js/jquery-easing.min.js')
script(src='js/grayscale.js')