footer.footer
  .container
    .pull-left
      span &copy; 2015-16 Computer Lab
    .pull-right
      a(href="https://github.com/computer-lab")
        i.fa.fa-fixed.fa-github 
      a(href="https://www.linkedin.com/company/computer-lab-llc")
        i.fa.fa-fixed.fa-linkedin
      a(href="https://twitter.com/computerlab_")
        i.fa.fa-fixed.fa-twitter

