// Navigation
nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
        i.fa.fa-bars
      a.navbar-brand.page-scroll(href='/')
        span.light Computer 
        |  Lab
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      ul.nav.navbar-nav
        li.hidden
          a(href='#page-top')
        li
          a.page-scroll(href='#services') Services
        li
          a.page-scroll(href='#team') Team
        li
          a.page-scroll(href='#contact') Contact
        //- li
        //-   a.page-scroll(href='/blog/') Blog
    // /.navbar-collapse
  // /.container
