// Nav
nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      a.navbar-brand(href='/') 
        //- svg(id='logo-svg', width='85px', height='85px', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 54.5 54.5')
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
        i.fa.fa-bars
    .collapse.navbar-collapse.navbar-left.navbar-main-collapse
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      ul.nav.navbar-nav
        li
          a.page-scroll(href='/#services') Services
        li
          a.page-scroll(href='/#projects') Work
        li
          a.page-scroll(href='/#about') About
        li
          a.page-scroll(href='/blog') Blog