// nav 

.navbar-custom {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: $primary;

  .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: white;

    @media (max-width: 767px) {
      color: $white;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }
  .navbar-brand {
    font-weight: 700;
    color: $pink;
    border-bottom: none;
    &:focus, &:hover {
      outline: none;
      color: $copy;
      border-bottom: none;
    }
  }

  a {
    color: $copy;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }

  .nav {
    li {
      font-size: 1em;
      a {
        -webkit-transition: color .3s ease-in-out;
        -moz-transition: color .3s ease-in-out;
        transition: color .3s ease-in-out;
        &:hover {
          color: $copy;
          outline: none;
          background-color: transparent;
        }
        &:focus,
        &:active {
          outline: none;
          background-color: transparent;
          color: $copy;
        }
      }
      &.active {
        outline: none;
        a {
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
  @media(min-width:768px) {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    &.top-nav-collapse {
      padding: 0;
      background: $pink;

      a {
        color: $white;
      }
    }
  }
  @media(max-width:767px) {
    background: $pink;

    .navbar-brand {
      color: $white;
    }

    a {
      color: $white;
    }
  }
}
