article(class=page.layout)
  h1.post-title= page.title

  .post-meta
    include meta
    h4=page.date.format('ll')
      +postCategory(page.categories)
    h5=page.author
  .post-body
    != page.more

  +postAuthor(page.author)
