article(class=page.layout)
  h2.post__title= page.title

  .post__meta
    include meta
    +postDate(page.date)
    +postCategory(page.categories)

  .post__body.col-md-8.col-md-offset-2
    != page.more
