extends base

prepend site_title
  | Archive &mdash;&nbsp;

block site_body
  section#archive
    .container
      .row
        .col-xs-12.col-md-8.col-md-offset-2
          h2.page__title.center Blog
      .row
        .col-xs-12.col-md-8.col-md-offset-2
          include _partial/post/list

      .row
          include _partial/post/list_pagination
        //- .col-xs-12.col-md-8.col-md-offset-2
        //-   include _partial/site/sidebar


