extends base

prepend site_title
  | Archive &mdash;&nbsp;

block site_body
  section#archive
    .container
      .row
        .col-xs-8.col-xs-offset-2
          h2.page__title Lab Notes
      .row
        .col-xs-8.col-xs-offset-2
          include _partial/post/list

      .row
          include _partial/post/list_pagination
        .col-xs-8.col-xs-offset-2
          include _partial/site/sidebar


