extends base

prepend site_title
  | Archive &mdash;&nbsp;

block site_body
  section
    .container
      .row
        .col-xs-12
          h2.page__title Lab Notes
      .row
        .col-xs-9
          include _partial/post/list

          include _partial/post/list_pagination
        .col-xs-3
          include _partial/site/sidebar


