extends base

prepend site_title
  | Archive &mdash;&nbsp;

block site_body
  section
    .container
      h2.page__title Lab Notes

      include _partial/post/list

      include _partial/post/list_pagination
