doctype html
html(lang="en")

  head
    include _partial/site/head

  body
    //header
      block site_header
        include _partial/site/header

    section
      block site_body

    //footer
      block site_footer
        include _partial/site/footer

  //- JS
  script(src="bower_components/jquery/dist/jquery.min.js")
  script(src="https://rawgithub.com/jdan/isomer/master/dist/isomer.min.js")
  script(src="js/isomer.js")
