extends base

block site_body
  .hero
    .container-fluid
      .row
        .col-md-6.col-xs-12.no-padding
          .canvas-container
            canvas#art
          .copy
            h1= config.subtitle
            p= config.blurb
            a(href='mailto:ideas@computerlab.io') hi@computerlab.io
        .col-md-6.col-xs-12.flex.background
          .centered
            h2 Our Competencies
            p We can build your website.  
            p We can build your app.  
            p We can understand your data.
            p We can make your logo.
            p We can fix your brand.
            p We can make people care about you.

            

  //!= page.content
