extends base

block site_body

  // Intro Hero
  section#home
    .intro-body
      .container
        .row
          .col-md-8.col-md-offset-2.wow.fadeIn
            h1.brand-heading We are here to help you.
            p.intro-text Computer Lab is a digital consultancy in Brooklyn, NY that helps organizations accelerate their products and brands.
            a.btn.btn-circle.floating.page-scroll(href='#services')
              i.fa.fa-angle-double-down.animated
  // Services Section
  section#services.content-section
    .container
      .row
        .col-md-4.v-center.col-xs-12
          svg.center(id='services-svg' version='1.0', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='300px', height='300px', viewbox='0 0 24 24', style='enable-background:new 0 0 24 24;', xml:space='preserve')
            g#Guides
              g#_x32_0_px_2_
              g#_x32_0px
              g#_x34_0px
              g#_x34_4_px
              g#_x34_8px
                g#_x31_6px
                g#square_4px
                  g#_x32_8_px
                    g#square_4px_2_
                    g#square_4px_3_
                    g#square_4px_1_
                    g#_x32_4_px_2_
                    g#_x31_2_px
              g#Icons
              g#_x32_0_px
              g#square_6px
                g#_x31_2_PX
              g#_x33_6_px
                g#_x33_2_px
                  g#_x32_8_px_1_
                    g#square_6px_1_
                    g#_x32_0_px_1_
                      g#_x31_2_PX_2_
                      g#_x34_8_px
                        g#_x32_4_px
                        g#_x32_4_px_1_
              g#_x32_0_px_3_
              g#_x32_0_px_4_
              g#New_Symbol_8
                g#_x32_4_px_3_
            g#Artboard
            g#Free_Icons
              g
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='13', y1='10.5', x2='11', y2='10.5')
                polyline(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', points='3,10.5 \
                0.5,10.5 2.5,1.5 21.5,1.5 23.5,10.5 21,10.5     ')
                polyline(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', points='0.5,23.5 \
                1.5,20.5 1,17 2,12 3,12 3,16 5,9.5 6.5,9.5 5.5,16 8,10 9.5,10 7.5,17.5 10,16 11,16.5 7,21.5 6.5,23.5    ')
                polyline(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', points='23.5,23.5 \
                22.5,20.5 23,17 22,12 21,12 21,16 19,9.5 17.5,9.5 18.5,16 16,10 14.5,10 16.5,17.5 14,16 13,16.5 17,21.5 17.5,23.5     ')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='5.5', y1='4.5', x2='6', y2='4.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='4.5', y1='6.5', x2='5', y2='6.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='8', y1='4.5', x2='8.5', y2='4.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='7', y1='6.5', x2='7.5', y2='6.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='10.5', y1='4.5', x2='11', y2='4.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='9.5', y1='6.5', x2='10', y2='6.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='13', y1='4.5', x2='13.5', y2='4.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='12', y1='6.5', x2='12.5', y2='6.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='15.5', y1='4.5', x2='16', y2='4.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='14.5', y1='6.5', x2='15', y2='6.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='18', y1='4.5', x2='18.5', y2='4.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='17', y1='6.5', x2='17.5', y2='6.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='19.5', y1='6.5', x2='20', y2='6.5')
        .col-md-6.col-md-offset-1.col-xs-12
          h1.section-title.wow.fadeIn Services
          .row.service.wow.slideInUp
            p
              span.primary We can build your product. 
              | Computer Lab specializes in developingdata driven application  with intensive UIs. We can work with your team, or be your full-service dev shop.
          .row.service.wow.slideInUp      
            p
              span.primary We can understand your data. 
              | From ETL orchestration to data visualization, our team has the data-science expertise to make sure that you're solving theright problem .
          .row.service.wow.slideInUp    
            p
              span.primary We can make people care about you. 
              | Feeling a bitstarved for attention  We can get more eyes
              | on your product and help it win hearts and minds URL and IRL. 
  section#team.content-section
    .container
      .row
        .col-md-4.col-xs-12.v-center
          svg.center(id='team-svg' height='300px', style='enable-background:new 0 0 24 24;', version='1.0', viewbox='0 0 24 24', width='300px', x='0px', xmlns='http://www.w3.org/2000/svg', y='0px')
            g#Guides
              g#_x32_0_px_2_
              g#_x32_0px
              g#_x34_0px
              g#_x34_4_px
              g#_x34_8px
                g#_x31_6px
                g#square_4px
                  g#_x32_8_px
                    g#square_4px_2_
                    g#square_4px_3_
                    g#square_4px_1_
                    g#_x32_4_px_2_
                    g#_x31_2_px
              g#Icons
              g#_x32_0_px
              g#square_6px
                g#_x31_2_PX
              g#_x33_6_px
                g#_x33_2_px
                  g#_x32_8_px_1_
                    g#square_6px_1_
                    g#_x32_0_px_1_
                      g#_x31_2_PX_2_
                      g#_x34_8_px
                        g#_x32_4_px
                        g#_x32_4_px_1_
              g#_x32_0_px_3_
              g#_x32_0_px_4_
              g#New_Symbol_8
                g#_x32_4_px_3_
            g#Artboard
            g#Free_Icons
              g
                polygon(points='23.5,14.5 21,14.5 21,18.5 17,14.5 5.5,14.5 5.5,0.5 23.5,0.5', style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linejoin:round;stroke-miterlimit:10;')
                g
                  polyline(points='11,9 12.5,10.5 16.5,10.5 18,9', style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;')
                  line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='12.5', x2='12.5', y1='5', y2='6')
                  line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='16.5', x2='16.5', y1='5', y2='6')
                polyline(points='15.5,14.5 15.5,19.5 6,19.5 2,23.5 2,19.5 0.5,19.5 0.5,7.5 5.5,7.5', style='fill:none;stroke:#FFFFFF;stroke-width:0.2;stroke-linejoin:round;stroke-miterlimit:10;')
        .col-md-6.col-md-offset-1.col-xs-12
          h1.section-title.wow.fadeIn Our Team
          .bio.row.service.wow.slideInUp
            p
              span.primary Computer Lab 
              | is a group of freelance web developers, designers and software engineers who met via Twitter and now operate out of a modest office in Brooklyn, NY. Working individually and together on a wide range of projects, Computer Lab's team includes  
              span
                a(target='_blank' href='https://ptsteadman.com/') Patrick Steadman, 
                a(target='_blank' href='http://zachtaylor.me') Zachary Taylor, 
                a(target='_blank' href='http://maxhfowler.com/') Max Fowler and 
                a(target='_blank' href='http://henrymac.info/') Henry MacConnel.
  // Contact Section
  section#contact.content-section.last
    .container
      .row
        .col-md-4.col-xs-12.v-center
          svg.center(id='contact-svg' height='300px', style='enable-background:new 0 0 24 24;', version='1.0', viewbox='0 0 24 24', width='300px', x='0px', xmlns='http://www.w3.org/2000/svg', y='0px')
            g#Guides
              g#_x32_0_px_2_
              g#_x32_0px
              g#_x34_0px
              g#_x34_4_px
              g#_x34_8px
                g#_x31_6px
                g#square_4px
                  g#_x32_8_px
                    g#square_4px_2_
                    g#square_4px_3_
                    g#square_4px_1_
                    g#_x32_4_px_2_
                    g#_x31_2_px
              g#Icons
              g#_x32_0_px
              g#square_6px
                g#_x31_2_PX
              g#_x33_6_px
                g#_x33_2_px
                  g#_x32_8_px_1_
                    g#square_6px_1_
                    g#_x32_0_px_1_
                      g#_x31_2_PX_2_
                      g#_x34_8_px
                        g#_x32_4_px
                        g#_x32_4_px_1_
              g#_x32_0_px_3_
              g#_x32_0_px_4_
              g#New_Symbol_8
                g#_x32_4_px_3_
            g#Artboard
            g#Free_Icons
              g
                polygon(points='2.5,15.5 0.5,18.5 7.5,18.5 7.5,15.5', style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;')
                polyline(points='7.5,23.5 7.5,11.5 11.5,7.5 15.5,11.5 15.5,23.5', style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='7.5', x2='15.5', y1='11.5', y2='11.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='17.5', x2='18.5', y1='4.5', y2='4.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='20.5', x2='21.5', y1='4.5', y2='4.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='17.5', x2='18.5', y1='7.5', y2='7.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='20.5', x2='21.5', y1='7.5', y2='7.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='17.5', x2='18.5', y1='10.5', y2='10.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='20.5', x2='21.5', y1='10.5', y2='10.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='17.5', x2='18.5', y1='13.5', y2='13.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='20.5', x2='21.5', y1='13.5', y2='13.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='17.5', x2='18.5', y1='16.5', y2='16.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='20.5', x2='21.5', y1='16.5', y2='16.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='17.5', x2='18.5', y1='19.5', y2='19.5')
                line(style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', x1='20.5', x2='21.5', y1='19.5', y2='19.5')
                g
                  rect(height='3', style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', width='4', x='9.5', y='13.5')
                g
                  rect(height='3', style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;', width='4', x='9.5', y='18.5')
                polyline(points='3.5,23.5 3.5,20.5 5.5,20.5 5.5,23.5', style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;')
                polyline(points='15.5,11.5 15.5,2.5 23.5,2.5 23.5,23.5 1.5,23.5 1.5,18.5', style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;')
                polygon(points='2.5,5.5 0.5,3.5 2.5,2 2.5,0.5 4.5,0.5 5.5,1.5 9,1.5 11,3.5 9,5.5', style='fill:none;stroke:#FFFFFF;stroke-width:0.2; stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;')  
        .col-md-6.col-md-offset-1.col-xs-12
          h1.section-title.wow.fadeIn Say Hello
          .contact.row.service.wow.slideInUp      
            p
              span.primary Want to know more? 
              |  Our workspace in Williamsburg is open to all throughout the day. Come stop by or shoot us an email and we'll get back to you soon.
          .contact.row.service.wow.slideInUp    
            p
              a.email(href='mailto:hi@computerlab.io?Subject=Inquiry') hi@computerlab.io
              br
              br
              | 140 Metropolitan Ave
              br
              | Brooklyn, NY 11249

