extends base

block site_body

  // Intro Hero
  section#home
    .intro-body
      .container
        .row
          .col-md-8.col-md-offset-2.wow.fadeIn
            h1.brand-heading We are here to help you.
            p.intro-text Computer Lab is a digital consultancy in Brooklyn, NY that helps organizations accelerate their products and brands.
            a.btn.btn-circle.floating.page-scroll(href='#services')
              i.fa.fa-angle-double-down.animated
  // Services Section
  section#services.content-section
    .container
      .row.flex
        .col-md-4.flex
          canvas#services-art(width="800" height="800").art
        .col-md-6.col-md-offset-1
          h1.section-title.wow.fadeIn Services
          .row.service.wow.slideInUp
            p
              span.primary <b>We can build your product. </b>
              | Computer Lab specializes in developing <b>data driven applications</b> with intensive UIs. We can work with your team, or be your full-service dev shop.
          .row.service.wow.slideInUp      
            p
              span.primary <b>We can understand your data. </b>
              | Our in-house data science team can make sure that you're solving the <b>right problems</b>.
          .row.service.wow.slideInUp    
            p
              span.primary <b>We can make people care about you. </b>
              | We have a <b>proven track record</b> of making things go viral, we know how to make the internet pay attention.
  section#team.content-section
    .container
      .row
        .col-md-6.col-md-offset-1 
          h1.section-title.wow.fadeIn Our Team
          .bio.row.service.wow.slideInUp
            p
              span.primary <b> Patrick Steadman </b>
              | is ipsum dolor sit amet, <b>consectetur adipiscing elit.</b> Aliquam faucibus, velit euismod hendrerit scelerisque, turpis urna maximus tellus.
          .bio.row.service.wow.slideInUp      
            p
              span.primary <b> Zachary Taylor </b>
              | is ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus, <b>velit euismod</b> hendrerit scelerisque, turpis urna maximus tellus.
          .bio.row.service.wow.slideInUp    
            p
              span.primary <b> Max Fowler </b>
              | is ipsum dolor sit amet, <b>consectetur adipiscing elit</b>. Aliquam faucibus, velit euismod hendrerit scelerisque, turpis urna maximus tellus.
        .col-md-4


  // Contact Section
  section#contact.content-section
    .container
      .row
        .col-md-4.col-md-offset-1

        .col-md-6
          .row
            h1.section-title.wow.fadeIn Say Hello
            p.contact.wow.slideInUp
              span.primary <b> Lorem ipsum dolor sit. </b>
              |  Lorem amet, consectetur adipiscing elit. <b>Aliquam faucibus</b>, velit euismod hendrerit scelerisque, turpis urna maximus tellus.
            p.contact.wow.slideInUp
              | 140 Metropolitan Ave.
              br
              | Brooklyn, NY 11249
            p.contact.wow.slideInUp
              a(mailto='hi@computerlab.io') hi@computerlab.io 
