extends base

block site_body
  .hero
    .container-fluid
      .row
        .hero.col-md-6.col-xs-12.no-padding
          .canvas-container
            canvas#art
          .copy
            h1= config.subtitle
            p= config.blurb
            a(href='mailto:ideas@computerlab.io') hi@computerlab.io
        .col-md-6.flex.hidden-sm.hidden-xs.background
          .centered
            img(src='/images/computer.png')

  //!= page.content
