extends base

block site_body

  // Intro Hero
  section#home
    .intro-body
      .container
        .row
          .col-md-8.col-md-offset-2.wow.fadeIn
            h1.brand-heading We are here to help you.
            p.intro-text Computer Lab is a digital consultancy in Brooklyn, NY that helps organizations accelerate their products and brands.
            a.btn.btn-circle.floating.page-scroll(href='#services')
              i.fa.fa-angle-double-down.animated
  // Services Section
  section#services.content-section
    .container
      .row
        .col-md-4
          .title-container
            h1.section-title Services
            svg.squiggle(width='160', height='10')
              defs
                pattern#kbdit(patternunits='userSpaceOnUse', width='10', height='10')
                  path(d='M 2.5,7.5l2.5,-5l2.5,5', fill='transparent', stroke-width='1', shape-rendering='auto', stroke='#FA1E64', stroke-linecap='square')
              path(d='M 0 0 L 0 250 L 250 250 L 250 0 Z', style='fill: url(#kbdit);')
        .col-md-8
          .row.service.wow.slideInRight
            h3 
              i.fa.fa-chevron-circle-right
              span We can build your product.
            p
              | Computer Lab specializes in developing <b>data driven applications</b> with intensive UIs. We can work with your team, or be your full-service dev shop.
          .row.service.wow.slideInRight      
            h3
              i.fa.fa-chevron-circle-right
              span We can understand your data.
            p
              | Our in-house data science team can make sure that you're solving the <b>right problems</b>.
          .row.service.wow.slideInRight    
            h3
              i.fa.fa-chevron-circle-right
              span We can understand your data.
            p
              | We have a <b>proven track record</b> of making things go viral, we know how to make the internet pay attention.
  section#team.content-section
    .container
      .row
        .col-md-4
          .title-container
            h1.section-title Our Team
            svg.squiggle(width='190', height='10')
              defs
                pattern#kbdit(patternunits='userSpaceOnUse', width='10', height='10')
                  path(d='M 2.5,7.5l2.5,-5l2.5,5', fill='transparent', stroke-width='1', shape-rendering='auto', stroke='#FA1E64', stroke-linecap='square')
              path(d='M 0 0 L 0 250 L 250 250 L 250 0 Z', style='fill: url(#kbdit);')
        .col-md-8
          .bio.row.wow.fadeInUp
              h3 Patrick Steadman
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus, velit euismod hendrerit scelerisque, turpis urna maximus tellus.
              a.btn.btn-default(href='https://ptsteadman.com/')
                i.fa.fa-globe.fa-fw
                span Web
              a.btn.btn-default(href='https://github.com/ptsteadman')
                i.fa.fa-github-square.fa-fw
                span Github
          .bio.row.wow.fadeInUp
            h3 Zachary Taylor
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus, velit euismod hendrerit scelerisque, turpis urna maximus tellus.
            a.btn.btn-default(href='http://zachtaylor.me')
              i.fa.fa-globe.fa-fw
              span Web
            a.btn.btn-default(href='https://github.com/zachwtaylor')
              i.fa.fa-github-square.fa-fw
              span Github
          .bio.row.wow.fadeInUp
            h3 Max Fowler
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus, velit euismod hendrerit scelerisque, turpis urna maximus tellus.
            a.btn.btn-default(href='http://maxhfowler.net/')
              i.fa.fa-globe.fa-fw
              span Web
            a.btn.btn-default(href='https://github.com/mhfowler')
              i.fa.fa-github-square.fa-fw
              span Github
  // Contact Section
  section#contact.content-section
    .container
      .row
        .col-md-4
          .title-container
            h1.section-title Say Hello
            svg.squiggle(width='180', height='10')
              defs
                pattern#kbdit(patternunits='userSpaceOnUse', width='10', height='10')
                  path(d='M 2.5,7.5l2.5,-5l2.5,5', fill='transparent', stroke-width='1', shape-rendering='auto', stroke='#FA1E64', stroke-linecap='square')
              path(d='M 0 0 L 0 250 L 250 250 L 250 0 Z', style='fill: url(#kbdit);')
        .col-md-8
          .row
            .no-padding
              h3 Lorem ipsum dolor sit amet.
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus, velit euismod hendrerit scelerisque, turpis urna maximus tellus.
              p
                | 140 Metropolitan Ave.
                br
                | 5th Floor
                br
                | Brooklyn, NY 11249
              p
                a(mailto='hi@computerlab.io') hi@computerlab.io 
