extends base

block site_body
  .hero
    .container-fluid
      .col-md-12.flex.hidden-sm.hidden-xs.no-padding
          .copy
            h1.active Computer Lab
              | 
              span  can build your website.
              span  can make people care about you.
              span  can understand your data.
              span  can build your app.
              span  can launch your brand.
              span  can build your website.
              span  can make people care about you.
              span  can understand your data.
              span  can build your app.
              span  can launch your brand.
              span  can build your website.
              span  can make people care about you.
              span  can understand your data.
              span  can build your app.
              span  can launch your brand.
              span  can build your website.
              span  can make people care about you.
              span  can understand your data.
              span  can build your app.
              span  can launch your brand.
              span  can build your website.
              span  can make people care about you.
              span  can understand your data.
              span  can build your app.
              span  can launch your brand.
              span  can build your website.
              span  can make people care about you.
              span  can understand your data.
              span  can build your app.
              span  can launch your brand.
              span  can build your website.
              span  can make people care about you.
              span  can understand your data.
              span  can build your app.
              span  can launch your brand.
              span  can build your app.
              span  can launch your brand.
              span  can build your website.
              span  can make people care about you.
              span  can understand your data.
              span  can build your app.
              span  can launch your brand.
              span  can build your website.
              span  can make people care about you.
              span  can understand your data.
              span  can build your app.
              span  can launch your brand.
              span  can build your app.
              span  can launch your brand.
              span  can build your website.
              span  can make people care about you.
              span  can understand your data.
              span  can build your app.
              span  can launch your brand.
              span  can build your website.
              span  can make people care about you.
              span  can understand your data.
              span  can build your app.
              span  can launch your brand.
              span  can build your app.
              span  can launch your brand.
              span  can build your website.
              span  can make people care about you.
              span  can understand your data.
              span  can build your app.
              span  can launch your brand.
              span  can build your website.
              span  can make people care about you.
              span  can understand your data.
              span  can build your app.
              span  can launch your brand.
            //a(href='mailto:hi@computerlab.io') hi@computerlab.io