extends base

block site_body

  // Intro Hero
  header.intro
    .intro-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h1.brand-heading We are here to help you.
            p.intro-text=config.blurb
            a.btn.btn-circle.floating.page-scroll(href='#services')
              i.fa.fa-angle-double-down.animated
  // Services Section
  section#services.container.content-section
    .row
      .col-lg-8.col-lg-offset-1
        h1.section-title Services
        svg.squiggle(width='185', height='20')
          defs
            pattern#fqpui(patternunits='userSpaceOnUse', width='10', height='10')
              path(d='M 0 5 c 1.25 -2.5 , 3.75 -2.5 , 5 0\
              c 1.25 2.5 , 3.75 2.5 , 5 0 M -5 5\
              c 1.25 2.5 , 3.75 2.5 , 5 0 M 10 5\
              c 1.25 -2.5 , 3.75 -2.5 , 5 0', fill='transparent', stroke-width='1', shape-rendering='auto', stroke='#FA1E64', stroke-linecap='square')
          path(d='M 0 0 L 0 250 L 250 250 L 250 0 Z', style='fill: url(#fqpui);')
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus, velit euismod hendrerit scelerisque, turpis urna maximus tellus.
    .row.service
      .col-lg-5.col-lg-offset-1
      .col-lg-5.col
        h3 We understand data.
        p
          | Computer Lab's in-house data science team can make sure that you're solving the <b>right problems</b>.
        ul
          li ETL orchestration and deployment
          li Data visualization using d3.js
          li Automated reporting solutions
      .row.service
        .col-lg-5.col-lg-offset-1
          h3 We can build your product.
          p
            | Computer Lab specializes in developing <b>data driven applications</b> with intensive UIs. We can work with your team, or be your full-service dev shop.
          ul
            li Our favorite stacks: Python, NodeJS, and .NET
            li Flexible, user-friendly UI using Angular or React
            li Deployment to Amazon AWS or Azure
        .col-lg-5.col
      .row.service
        .col-lg-5.col-lg-offset-1
        .col-lg-5
          h3 We can make people care about you.
          p
            | Computer Lab has a <b>proven track record</b> of making things go viral, and know how to make the Internet pay attention.
          ul
            li Our favorite stacks: Python, NodeJS, and .NET
            li Flexible, user-friendly UI using Angular or React
            li Deployment to Amazon AWS or Azure
  // About Section
  section#about.content-section.container
      .row
        .col-lg-10.col-lg-offset-1
          h1.section-title Our Team
          svg.squiggle(width='205', height='20')
            defs
              pattern#fqpui(patternunits='userSpaceOnUse', width='10', height='10')
                path(d='M 0 5 c 1.25 -2.5 , 3.75 -2.5 , 5 0\
                c 1.25 2.5 , 3.75 2.5 , 5 0 M -5 5\
                c 1.25 2.5 , 3.75 2.5 , 5 0 M 10 5\
                c 1.25 -2.5 , 3.75 -2.5 , 5 0', fill='transparent', stroke-width='1', shape-rendering='auto', stroke='#FA1E64', stroke-linecap='square')
            path(d='M 0 0 L 0 250 L 250 250 L 250 0 Z', style='fill: url(#fqpui);')
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus, velit euismod hendrerit scelerisque, turpis urna maximus tellus.
      .row
        .col-lg-5.col-lg-offset-1
          h3 Patrick Steadman
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus, velit euismod hendrerit scelerisque, turpis urna maximus tellus.
          a.btn.btn-default.btn-lg(href='http://startbootstrap.com/template-overviews/grayscale/') Website
          a.btn.btn-default.btn-lg(href='http://startbootstrap.com/template-overviews/grayscale/') Github
        .col-lg-5
          h3 Zachary Taylor
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus, velit euismod hendrerit scelerisque, turpis urna maximus tellus.
          a.btn.btn-default.btn-lg(href='http://startbootstrap.com/template-overviews/grayscale/') Website
          a.btn.btn-default.btn-lg(href='http://startbootstrap.com/template-overviews/grayscale/') Github
      .row.bio
        .col-lg-5.col-lg-offset-1
          h3 Max Fowler
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus, velit euismod hendrerit scelerisque, turpis urna maximus tellus.
          a.btn.btn-default.btn-lg(href='http://startbootstrap.com/template-overviews/grayscale/') Website
          a.btn.btn-default.btn-lg(href='http://startbootstrap.com/template-overviews/grayscale/') Github
        .col-lg-5
          h3 Bill Stein
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus, velit euismod hendrerit scelerisque, turpis urna maximus tellus.
          a.btn.btn-default.btn-lg(href='http://startbootstrap.com/template-overviews/grayscale/') Website
  // Contact Section
  section#contact.container.content-section
    .row
      .col-lg-6.col-lg-offset-3
        h2.text-center Say Hello
        p.text-center
          | Want to learn more? Don't hesistate to drop us a line with any questions or inquires.
        p.text-center
          a(href='mailto:hi@computerlab.io') hi@computerlab.io
        //- ul.list-inline.banner-social-buttons
        //-   li
        //-     a.btn.btn-default.btn-lg(href='')
        //-       i.fa.fa-twitter.fa-fw
        //-       span.network-name Twitter
        //-   li
        //-     a.btn.btn-default.btn-lg(href='')
        //-       i.fa.fa-github.fa-fw
        //-       span.network-name Github
        //-   li
        //-     a.btn.btn-default.btn-lg(href='')
        //-       i.fa.fa-google-plus.fa-fw
        //-       span.network-name Google+