extends base

block site_body

  // Home
  section#home
    .container.hero
      .row.copy
        .col-md-8.col-md-offset-2
          h1 A flexible team for your next project.
          p Computer Lab is a software consultancy in New York City engineering solutions that shape and accelerate our clients' goals in media, tech, healthcare and beyond.
          a.btn.btn-default.alt(href='#about') Learn More
    a(href='#about')
      i.fa.fa-chevron-down

  section#about.content-section
    .row
      .copy.square.grey.wow.fadeIn
        .about
          .icon.white.wow.rotateIn
            include _partial/svg/keyboard-svg
          h3 Web Development
          p 
            span
            | Scalable sites and webapps built with React, Python, Django, Wordpress and more.
      .copy.square.wow.fadeIn
        .about
          .icon.wow.rotateIn
            include _partial/svg/wifi-svg
          h3 Mobile Development
          p
            span
            | We leverage React Native to develop cross-platform apps and services for iOS and Android.  
    .row
      .copy.square.wow.fadeIn
        .about
          .icon.wow.rotateIn
            include _partial/svg/mouse-svg
          h3 Product Design
          p 
            span
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus vitae felis vitae egestas.
      .copy.square.grey.wow.fadeIn
        .about
          .icon.white.wow.rotateIn
            include _partial/svg/pc-svg
          h3 Data Services
          p 
            span
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus vitae felis vitae egestas.

  //- section#call-to-action
  //-   .container
  //-     .row
  //-       .col-md-8.col-md-offset-2
  //-         h1 A flexible team for your next project.
  //-         p Computer Lab is a software consultancy in New York City engineering solutions that shape and accelerate our clients' goals in media, tech, healthcare and beyond.
  //-         a.btn.btn-default.alt(href='#about') Get In Touch

  //- section#project
  //-   .container
  //-     .row
  //-       .col-md-6
  //-         h3 iHeartRadio
  //-         p
  //-           span
  //-           | Computer Lab built on-demand streaming functionality 
  //-           | into the 
  //-           a(target='_blank' href='https://iheart.com') iHeartRadio
  //-           |  web platform, enabling iHeart to 
  //-           a(target='_blank' href='http://www.forbes.com/sites/hughmcintyre/2016/12/01/iheartradio-launches-new-on-demand-streaming-apps-to-compete-with-spotify/#134dceb91a90') launch
  //-           |  their paid subscription service before Pandora. We worked alongside 
  //-           a(target='_blank' href='https://tech.iheart.com/') iHeart's web team
  //-           |  to scale the existing React application to millions of users.
  //-       .col-md-6
    //- .container
    //-   .row
    //-     .col-md-4.col-md-offset-1.bio.wow.fadeInLeft.iheart
    //-       include _partial/svg/iheart-logo
    //-       h4 On-site Consulting

    //-       //- a.btn.btn-default.wow.fadeIn.read-more(href='http://onscreentoday.com') View
    //-     .col-md-4.col-md-offset-2.bio.wow.fadeInRight.nectar
    //-       include _partial/svg/nectar-logo
    //-       h4 Webapp MVP
    //-       p 
    //-         a(target='_blank' href='https://joinnectar.com/') Nectar 
    //-         | is a recruiting platform for tech workers, created for our client 
    //-         a(target='_blank' href="http://www.singlesprout.com/") SingleSprout
    //-         | . The project leveraged Django, ReactJS, and Ansbile to transform an exisiting application into an elegant online marketplace that we turned over to Nectar's dev team ahead of schedule and under budget.
    //-       //- a.btn.btn-default.wow.fadeIn.read-more(href='http://onscreentoday.com') View
    //-   .row
    //-     .col-md-4.col-md-offset-1.bio.wow.fadeInLeft.verdes
    //-       include _partial/svg/verdes-logo
    //-       h4 Landing Page
    //-       p 
    //-         span We created an interactive 3D landing page for a marketing data visualization tool launched by 
    //-         a(target='_blank' href='http://verdes.nyc') Verdes
    //-         | , a creative agency in NYC. The 
    //-         a(target='_blank' href="http://pinpoints.io") PinPoints
    //-         |  build convinced us that React’s declarative components are a great fit for developing 3D user interfaces in the browser.
    //-       //- a.btn.btn-default.wow.fadeIn.read-more(href='http://onscreentoday.com') View
    //-     .col-md-4.col-md-offset-2.bio.wow.fadeInRight.screen
    //-       include _partial/svg/screen-logo
    //-       h4 CMS/AWS Consulting
    //-       p 
    //-         a(target='_blank' href='http://onscreentoday.com') Screen
    //-         |  is a curatorial collective based in New York, Beijing and Berlin. We worked closely with staff to improve the performance and user experience of their bilingual media platform. We reduced site loading speed, simplified content management and delivered an engaging experience to a global audience.
    //-       //- a.btn.btn-default.wow.fadeIn.read-more(href='http://onscreentoday.com') View


  //- // Featured Post
  //- section#feature-post.content-section
  //-   .container
  //-     .row
  //-       
  //-         h2.section-title.wow.fadeIn
  //-           a(href=config.feature_note_path)=config.feature_note_title
  //-         h5.info.wow.fadeIn=config.feature_note_author + ' - '
  //-           span.date=config.feature_note_date
  //-         p.wow.fadeIn=config.feature_note_excerpt + ' '
  //-           span
  //-           a.readmore(href=config.feature_note_path) Read More
  //-         a.btn.btn-default.wow.fadeIn.read-more(href='/blog/') Blog

  section#office
    img.office(src="../img/office.jpg")

