extends base

prepend site_title
  | #{page.title} &mdash;&nbsp;

block site_body
  .container
    .row 
      .col-xs-12.col-md-9
        include _partial/post/entry
        include _partial/post/entry_pagination
      .col-xs-12.col-md-3
        include _partial/site/sidebar
