extends base

prepend site_title
  | #{page.title} &mdash;&nbsp;

block site_body
  .container
    .row 
      .col-xs-8.col-xs-offset-2
        include _partial/post/entry
        include _partial/post/entry_pagination
    .row
      .col-xs-8.col-xs-offset-2
        include _partial/site/sidebar
