// blog post list


#archive {
  margin-top: 3 * $base-spacing;

  .page__title {
    margin: $base-spacing * 3 0 0;
    padding-bottom: $base-spacing * 6;
    border-bottom: 1px solid $grey;
  }
}

ul.post-items {
  // overwrite default ul behavior
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;

  li.post-item {
    margin: $base-spacing * 3 0;
    list-style: none;
    border-bottom: 1px solid $grey; 

    p {
      margin: 0 0;
    }

    h5 {
      margin: $base-spacing 0 $base-spacing * 3;
      font-style: italic;
    }
  }
}
