// blog post list


#archive {
  margin-top: 3 * $base-spacing;

  .page__title {
    margin: $base-spacing * 2 0;
  }
}

ul.post-items {
  // overwrite default ul behavior
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;

  li.post-item {
    margin: $base-spacing * 5 0;
    list-style: none;

    p {
      margin: 0 0;
    }

    h5 {
      margin: -5px 0 $base-spacing;
      letter-spacing: 1px;
    }
  }
}
