// blog post list

ul.post-items {
  // overwrite default ul behavior
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;

  li.post-item {
    list-style: none;
  }
}