.content-section {
    padding: $base-spacing * 6 0; 

    .title-container {
        margin-bottom: $base-spacing * 2;

        h1.section-title {
            margin: $base-spacing * 2 0 $base-spacing-small * 2;
            color: $copy;
        }

    }

    p {
        margin: 0 0 $base-spacing-small;
    }
}

#home {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
    background-color: $white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 40px;
            color: $primary;
        }
        .intro-text {
            margin-top: $base-spacing * 3;
            font-size: 18px;
            color: $copy;
        }
    }
    @media(min-width:768px) {
        height: 100vh;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}

#services {
    background-color: $grey;

    .service{
        color: $copy;
        margin: 0 0 $base-spacing * 2 0;

        h3 {
            color: $primary;

            span {
                margin-left: $base-spacing-small;
            }
        }

        a.btn-default  {
            color: $primary;
            border: 1px solid $primary;
        }

        ul {
            margin-top: $base-spacing;
            list-style: disc;

            li {
                font-size: 16px;

            }
        }

        .img {
            border: 1px solid $primary;
            height: 300px;
            margin-top: $base-spacing * 2;
            background-color: $primary;
        }
    }

}

#team {
    background-color: $white;

    .row.bio {
        margin: 0 0 $base-spacing * 2 0;

    }
}

#contact {
    background-color: $grey;

    .contact {
        margin: 0 0 $base-spacing * 2 0;
    }

    .email {
        color: $primary;
    }
}
