.content-section {
  height: auto;

  &.last {
    // bring up footer for last section
    margin-bottom: -94px;
  }

  @media (max-width: $tablet) {
    padding: $base-spacing * 2 0;
  }

  h1.section-title {
    margin: 0 0 $base-spacing * 2;
    color: $copy;

    @media (max-width: $tablet) {
      margin: $base-spacing * 2 0 $base-spacing;
      text-align: left;
    }
  }

  .row {
    display: flex;
    overflow: hidden;

    .square {
      width: 50%;
      float: left;
      min-height: 1px;
      height: 500px;
    }

    .v-center {
      display: flex;

      @media (max-width: $tablet) {
        display: block;
      }
    }

    @media (max-width: $tablet) {
      display: block;
    }
  }

  p {
    margin: 0 0 $base-spacing-small;
    font-size: 19px;
    // line-height: 2em; 
  }
}

/* Home */

#home {
  margin-top: - $menu-height; // center in viewport, regardless of menu height
  height: 100vh;
  background-color: $brand;

  .hero {
    height: 275px;
    position: absolute;
    z-index: 2;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    a.btn {
      border-color: white;
      background-color: $white;
      margin: 0px auto;
      color: $brand;
      display: block;
      width: 120px;

      svg {
        display: inline-block;
        float: right;
        height: 29px;
      }

      &:hover,&:active,&:focus {
        border: 2px solid $white;
        outline: none;
        color: $brand;
        background-color: $white;

        svg  > style{
          fill: $brand;
        }
      }
    }

    h1 {
      color: $white;
      font-size: 42px;
      text-align: center;
      margin-bottom: $base-spacing * 2;

      @media (max-width: $tablet) {
        font-size: 26px;
      }
    }

    p {
      text-align: center;
      color: $white;
      margin-bottom: $base-spacing * 3;
    }
  }


  .fa-chevron-down {
    position: absolute;
    bottom: $base-spacing-small * 2;
    left: 0;
    right: 0;
    margin: auto;  
    width: 32px;
    height: 32px;
    color: $white;  
  }

}

/* About */

#about {
  min-height: 100vh;
  height: 100%;

  @media (max-width: $tablet) {
    padding: $base-spacing * 4 0 $base-spacing * 6 0;
  }

  .square {
    width: 50%;

    &.grey {
      background-color: $light-grey;
    }
  }

  h3 {
    color: $copy;
    margin-bottom: $base-spacing * 2;
    text-align: center;
  }

  .icon {
    width: 120px;
    height: 120px;
    background-color: $light-grey;
    border-radius: 120px;
    margin: $base-spacing * 6 auto $base-spacing * 4;

    &.white {
      background-color: $white;
    }

    svg {
      margin: 15px;
      position: relative;
      width: 90px;
      height: 90px;      
    }
  }

  .about{
    p {
      color: $copy;
      width: 50%;
      margin: 0px auto;
      text-align: center;
      line-height: 1.5em;
    }
  }

  .fa-chevron-down {
    color: $brand;
  }
}

#call-to-action {
  background-color: $dark;

  a.btn {
    border-color: white;
    background-color: $white;
    margin: 0px auto;
    color: $brand;
    display: block;
  }
}

#projects {
  min-height: 100vh;
  background-color: $white;

  .bio {
    margin-top: $base-spacing * 4;

    .inner {
      background: $border-grey;
    }

    &.first {
      margin-top: $base-spacing;
    }

    @media (max-width: $tablet) {
      margin-bottom: $base-spacing * 12;
    }

    h4 {
      color: $copy;
      text-align: center;
      margin-top: $base-spacing;
      padding-bottom: $base-spacing;
    }
  }

  h2.section-title {
    color: $copy;

    @media (max-width: $tablet) {
      display: block;
      margin-bottom: $base-spacing * 4;

    }
  }

  svg {
    width: $base-spacing * 10;
    position: relative;
    display: block;
    height: $base-spacing * 8;
    margin: $base-spacing * 2 auto 0;

    &#nectar-logo {
      width: $base-spacing * 8;
    }

    .cls-1 {
      fill: $brand;
    }
  }

  a.btn {
    display: block;
    margin: $base-spacing * 2 auto;
    width: $base-spacing * 8;
  }

}

#feature-post {
  background-color: $white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
  height: 100%;

  @media (max-width: $tablet) {
    padding-bottom: $base-spacing * 8;
  }

  h1, h2 {
    color: $copy;
  }
  
  h5.info {
    color: $grey;
    margin-top: 0;
    font-family: 'Gill Sans', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
  }

  p {
    color: $copy;
  }

  a.read-more {
    margin-top: $base-spacing;
  }
}

#office {
  height: 600px;

  img {
    height: auto;
    width: 100%;
    object-fit: 'cover'
  }
}