.content-section {
    margin: $base-spacing * 8 0; 
    @media (max-width: 991px) {
        margin: $base-spacing * 2 0; 
    }
    h1.section-title {
        margin: $base-spacing * 2 0 $base-spacing * 4;
        color: $copy;
        @media (max-width: 991px) {
            margin: $base-spacing * 4 0 $base-spacing * 4;
            text-align: center;
        }
    }

    .row {
        display: flex;

        .v-center {
            display: flex;

            @media (max-width: 991px) {
                display: block;
            }
        }

        @media (max-width: 991px) {
            display: block;
        }
    }

    svg.center {
        display: block;
        margin: auto;
    }

    p {
        margin: 0 0 $base-spacing-small;
    }
}

#home {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: $primary;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 40px;
            color: $primary;
        }
        p.intro-text {
            margin-top: $base-spacing * 3;
            font-size: 32px;
            color: $copy;

            @media (max-width: 767px) {
                font-size: 22px;
            }
        }
    }
    @media(min-width:768px) {
        height: 100vh;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}

#services {

    .service{
        color: $copy;
        margin: 0 0 $base-spacing * 2 0;

        h3 {
            color: $copy;

            span {
                margin-left: $base-spacing-small;
            }
        }

    }

}

#team {

    .row.bio {
        margin: 0 0 $base-spacing * 2 0;

    }
}

#contact {

    .contact {
        margin: 0 0 $base-spacing * 2 0;
    }

}

.flex {
  display: flex;
}

.art {
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
}
