.content-section {
  padding: $base-spacing * 6 0; 
  height: auto;

  &.last {
    // bring up footer for last section
    margin-bottom: -94px;
  }

  @media (max-width: $tablet) {
    padding: $base-spacing * 2 0;
  }

  h1.section-title {
    margin: $base-spacing 0 $base-spacing * 2;
    color: $copy;

    @media (max-width: $tablet) {
      margin: $base-spacing * 2 0 $base-spacing;
      text-align: left;
    }
  }

  .row {
    display: flex;

    .v-center {
      display: flex;

      @media (max-width: $tablet) {
        display: block;
      }
    }

    @media (max-width: $tablet) {
      display: block;
    }
  }

  p {
    margin: 0 0 $base-spacing-small;

  }
}

#content {
  // background-color: $light-grey;
  // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQoU2NkIBIwEqmOYVQh3pAiKng2bty4GQARVQLRHLc7ggAAAABJRU5ErkJggg==) repeat;
}

#home {
  margin-top: - $menu-height; // center in viewport, regardless of menu height
  height: 100vh;

  #gradient {
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  .hero {
    height: 250px;
    position: absolute;
    z-index: 2;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  a.btn {
    border-color: white;
    color: white;

    svg {
      display: inline-block;
      float: right;
      height: 29px;
    }

    &:hover,&:active,&:focus {
      border: 2px solid $white;
      outline: none;
      color: $brand;
      background-color: $white;

      svg  > style{
        fill: $brand;
      }
    }
  }

  h1 {
    text-align: center;
    color: $white;

    span.pink {
      color: $white;
    }
  }

  .links {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 380px;
  }
}

#about {

  h2.section-title {
    color: $copy;
  }

  svg.logo {
    width: 90px;
    display: none;
    margin: $base-spacing * 2 auto;
  }

  .about{
    margin: 0 0 $base-spacing * 2 0;

    p {
      color: $copy;
      text-align: left;
    }
  }
}

#work {

  .shot {
    border: 2px solid $brand;
    border-radius: 3px;
    width: 100%;
    overflow: hidden;
    margin: $base-spacing * 8 0;

    &.last {
      margin-bottom: 0;
    }

    h1 {
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      color: $white;
    }

    img {
      object-fit: cover;
      height: 600px;
      width: 100%;
    }

  }

}

#feature-post {
  padding-bottom: $base-spacing * 14;

  h2 {
    color: $copy;
  }
  
  h5.info {
    color: $grey;
    margin-top: 0;
    font-family: 'Gill Sans', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
  }

  p {
    color: $copy;
  }

  a.read-more {
    margin-top: $base-spacing;
  }
}