.content-section {
  padding: $base-spacing * 4 0; 
  min-height: 100vh;

  &.last {
    // bring up footer for last section
    margin-bottom: -94px;
  }
  @media (max-width: 991px) {
    padding: $base-spacing * 8 0;
  }

  h2.section-title {
    margin: $base-spacing 0 $base-spacing * 2;
    color: $copy;

    @media (max-width: 991px) {
      margin: $base-spacing * 6 0 $base-spacing * 3;
      text-align: left;
    }
  }
  .row {
    display: flex;

    .v-center {
      display: flex;

      @media (max-width: 991px) {
        display: block;
      }
    }

    @media (max-width: 991px) {
      display: block;
    }
  }

  svg.center {
    display: block;
    margin: auto;

    @media (max-width: 991px) {
      width: 66%;
    }
  }

  p {
    margin: 0 0 $base-spacing-small;

  }
}

#home {
  margin-top: - $menu-height; // center in viewport, regardless of menu height
  width: 100%;
  height: 100vh;
  height: 100vh;
  background-color: $white;

  .blurb {
    height: 360px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  h1 {
    color: $copy;
    font-size: 56px;

    span.pink {
      color: $pink;
    }
  }
}

#about {
  
  .about{
    margin: 0 0 $base-spacing * 2 0;

    h3 {
      color: $copy;

      span {
        margin-left: $base-spacing-small;
      }
    }
  }
}

#case-study {
  background-color: $white;
  color: $copy;
  overflow: hidden;
  position: relative;
  padding: 140px 0;

  img {
    margin-top: -75px;
    height: 650px;
    position: absolute;
    right: -200px;
    
    @media(max-width:992px) {
      display: none;
      margin-bottom: -40px;
    }
  
  }

  h1 > a, p {
    color: $copy;
  }

  h5, h3 {
    color: $pink;
  }
}

#feature-post {
  background: $white;
  position: relative;
  padding: 120px 0 140px 0;

  .date {
    font-style: italic;
    color: $grey;
    font-weight: 100;
  }

  p {
    color: $copy;
  }

  a.read-more {
    margin-top: $base-spacing;
  }
}