a.logo {
  border-bottom: none !important;
  position: fixed;
  z-index: 1;
  top: $base-spacing;
  left: $base-spacing * 4;

  > svg {
    width: 75px;
  }

  h3 {
    color: $pink;
    padding-left: $base-spacing-small;
    display: inline-block;
    float: right;
  }
}

.content-section {
  padding: $base-spacing * 6 0; 
  height: auto;

  &.last {
    // bring up footer for last section
    margin-bottom: -94px;
  }

  @media (max-width: $tablet) {
    padding: $base-spacing * 8 0;
  }

  h2.section-title {
    margin: $base-spacing 0 $base-spacing * 2;
    color: $copy;

    @media (max-width: $tablet) {
      margin: $base-spacing * 2 0 $base-spacing;
      text-align: left;
    }
  }

  .row {
    display: flex;

    .v-center {
      display: flex;

      @media (max-width: $tablet) {
        display: block;
      }
    }

    @media (max-width: $tablet) {
      display: block;
    }
  }

  p {
    margin: 0 0 $base-spacing-small;

  }
}

#home {
  margin-top: - $menu-height; // center in viewport, regardless of menu height
  background-color: $light-grey;
  height: 100vh;

  .blurb {
    margin-top: $menu-height;
  }

  h1 {
    color: $copy;
    font-size: 52px;
  }

  h2 {
    color: $copy;
    font-size: 36px;

    span.pink {
      color: $pink;
    }
  }
}

#about {

  h2 {
    color: $copy;
  }

  .about{
    margin: 0 0 $base-spacing * 2 0;

    p {
      color: $copy;
    }
  }
}

#work {
  background-color: $light-grey;

  .shot {
    padding: $base-spacing;      
    background-color: $white;
    height: 405px;
    width: 100%;
    margin: $base-spacing * 2 0;

    h2 {
      margin: 0;
      padding: $base-spacing;
      position: absolute;
      color: $copy;
      display: none;
    }

    p {
      display: none;
      position: absolute;
      margin-top: $base-spacing * 3;
      padding: $base-spacing;
    }

    > img {
      object-fit: cover;
      opacity: 1;
      width: 100%;
      height: 100%;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      transition: all .3s ease;
    }

      &:hover {

        h2, p {
          display: block;
        }

        > img {
        opacity: 0.05;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
        cursor: pointer;
      }

    }

  }

  .entry {
    margin: $base-spacing * 4 0;

    &.first {
      margin-top: 0;
    }
  }

  img.project {
    object-fit: scale-down;
    padding: 15px 0;
    height: $base-spacing * 20;
    width: $base-spacing * 10;
    float: left;
  }

  h4 {
    margin-bottom: 0;
  }

  h2, p {
    color: $copy;
    text-align: left;
  }

}

#feature-post {
  position: relative;

  h5.info {
    color: $grey;
    margin-top: 0;
    font-family: 'Gill Sans', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
  }

  p {
    color: $copy;
  }

  a.read-more {
    margin-top: $base-spacing;
  }
}