body.index {
  // background-color: $pink;

  // custom home nav 
  .navbar-custom {

    a {
      color: $primary;
    }

    @media(min-width:768px) {

      &.top-nav-collapse {
        background: $white;

        a {
          color: $copy;
        }
      }
    }
    @media(max-width:767px) {

      a {
        color: $copy;
      }
    }
  }

}

.content-section {
  padding: $base-spacing * 8 0; 
  @media (max-width: 991px) {
    padding: $base-spacing * 7 0;

  }

  h1.section-title {
    margin: $base-spacing * 2 0 $base-spacing * 4;
    color: $copy;

    @media (max-width: 991px) {
      margin: $base-spacing * 2 0 $base-spacing * 2;
      text-align: center;
    }
  }
  .row {
    display: flex;

    .v-center {
      display: flex;

      @media (max-width: 991px) {
        display: block;
      }
    }

    @media (max-width: 991px) {
      display: block;
    }
  }

  svg.center {
    display: block;
    margin: auto;
  }

  p {
    margin: 0 0 $base-spacing-small;
  }
}

#home {
  margin-top: - 0.66 * $menu-height; // center in viewport, regardless of menu height
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: $primary;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: 40px;
      color: $primary;
    }
    p.intro-text {
      margin-top: $base-spacing * 3;
      font-size: 32px;
      color: $copy;

      @media (max-width: 767px) {
        font-size: 22px;
      }
    }
  }
  @media(min-width:768px) {
    height: 100vh;
    text-align: center;
    color: $primary;
    background-color: $pink;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    .intro-body {
      .brand-heading {
        font-size: 100px;
      }
      .intro-text {
        font-size: 26px;
      }
    }
  }
}

// #home:after {
//   content: '';
//   position: absolute;
//   left: 0;
//   bottom: -66px;
//   width: 100%;
//   height: 120px;
//   background: $pink;
//   -webkit-transform: skewY(-2.5deg);
//   -moz-transform: skewY(-2.5deg);
//   -ms-transform: skewY(-2.5deg);
//   -o-transform: skewY(-2.5deg);
//   transform: skewY(-2.5deg);
//   -webkit-backface-visibility: hidden;
// }

#services, #about {
    background-color: $primary;
}

#feature-post {
  background: $pink;
  position: relative;
}

#feature-post:before {
  content: '';
  position: absolute;
  left: 0;
  top: -36px;
  width: 100%;
  height: 120px;
  background: $pink;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-backface-visibility: hidden;
}

#feature-post:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -36px;
  width: 100%;
  height: 120px;
  background: $pink;
  -webkit-transform: skewY(-2.5deg);
  -moz-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  -o-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
  -webkit-backface-visibility: hidden;
}

#services, #about {

    .service, .about{
        color: $copy;
        margin: 0 0 $base-spacing * 2 0;

        h3 {
            color: $copy;

    h3 {
      color: $copy;

      span {
        margin-left: $base-spacing-small;
      }
    }

  }

}


