a.logo {
  border-bottom: none !important;
  position: fixed;
  z-index: 1;
  top: $base-spacing;
  left: $base-spacing * 4;

  > svg {
    width: 75px;
  }

  h3 {
    color: $pink;
    padding-left: $base-spacing-small;
    display: inline-block;
    float: right;
  }
}

.content-section {
  padding: $base-spacing * 6 0; 
  height: auto;

  &.last {
    // bring up footer for last section
    margin-bottom: -94px;
  }

  @media (max-width: $tablet) {
    padding: $base-spacing * 8 0;
  }

  h2.section-title {
    margin: $base-spacing 0 $base-spacing * 2;
    color: $copy;

    @media (max-width: $tablet) {
      margin: $base-spacing * 2 0 $base-spacing;
      text-align: left;
    }
  }

  .row {
    display: flex;

    .v-center {
      display: flex;

      @media (max-width: $tablet) {
        display: block;
      }
    }

    @media (max-width: $tablet) {
      display: block;
    }
  }

  p {
    margin: 0 0 $base-spacing-small;

  }
}

#home {
  margin-top: - $menu-height; // center in viewport, regardless of menu height
  background-color: $light-grey;
  width: 100%;
  height: 100vh;

  // .blurb {
  //   height: 310px;
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   margin: auto;
  // }

  h1 {
    color: $copy;
    margin: 0;
    margin-left: -$base-spacing * 2;
    font-size: 72px;

    @media (max-width: $tablet) {
      font-size: 44px;
    }

    span.pink {
      color: $pink;
    }
  }
}

#about {

  h2 {
    color: $copy;
  }

  .about{
    margin: 0 0 $base-spacing * 2 0;

    p {
      color: $copy;
    }
  }
}

#work {
  background-color: $light-grey;

  .entry {
    margin: $base-spacing * 3 0;
  }

  img.project {
    object-fit: scale-down;
    padding: $base-spacing 0;
    height: 240px;
    width: $base-spacing * 14;
    float: left;
    // margin-right: $base-spacing * 5;

    // &.left {
    //   padding-right: $base-spacing * 2;
    // }

    // &.right {
    //   padding-left: $base-spacing * 2;
    // }

    // &.pushdown {
    //   margin-top: 285px;
    // }

    // &.pullup {
    //   margin-top: -285px;
    // }
  }

  h4 {
    margin-bottom: 0;
  }

  h2, p {
    color: $copy;
    text-align: left;
  }

}

#feature-post {
  position: relative;

  h5.info {
    color: $grey;
    margin-top: 0;
    font-family: 'Gill Sans', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
  }

  p {
    color: $copy;
  }

  a.read-more {
    margin-top: $base-spacing;
  }
}