.post-title {
  text-align: center;
  margin: 0 0 $base-spacing * 2 0;
}

.post-meta {
  margin: $base-spacing 0;
  text-align: center;
  font-style: italic;
}


.post-body {
  padding-top: $base-spacing;

  code {
    font-size: 85%;
    color: $copy;

  }
  
  img {
    max-width: 100%;
    margin: $base-spacing * 2 0;
  }
  p, li {
    font-size: 22px;
  }
}
