.post-body {
  padding-top: $base-spacing;

  code {
    font-size: 85%;
    color: $copy;

  }
  
  img {
    max-width: 100%;
    margin: $base-spacing * 2 0;
  }
  p, li {
    font-size: 22px;
  }
}

.post-meta {
  margin: $base-spacing 0;
}

