.post-title {
  text-align: center;
  margin: $base-spacing 0 $base-spacing * 2 0;
}

.post-meta {
  margin: $base-spacing 0;
  padding-bottom: $base-spacing * 3;
  text-align: center;
  border-bottom: 1px solid $grey;
}

.post-body {
  padding-top: $base-spacing;

  img {
    max-width: 100%;
    margin: $base-spacing * 2 0;
  }
  p, li {
    font-size: 22px;
  }
}

nav.pagination {
  margin: $base-spacing * 4 0;
}
