@import "vendor/bootstrap.min";
@import "vendor/animations";

@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "base/global";

@import "components/buttons";
@import "components/nav";

@import "pages/home";