/*

  Colors
**/

$cl-primary: #456C79;
$cl-bg: #F2F5F7;
$cl-secondary: #A1C4D0;
$cl-accent: #3BD603;

$zt-primary: #5FD1C0;
$zt-bg: #F7F7F7;
$zt-secondary: #A1C4D0;
$zt-accent: #3BD603;
$zt-white: #FFFFFF;

/*
  
  Hero
**/

#art {
  width: 100%;
  height: 100vh;
  margin: 0px;
  background: white;

}

.hero {
  position: absolute;
  background: none;
  height: 100vh;

  .copy {
    position: absolute;
    bottom: 10vh;

    h1 {
      color: $zt-bg;
    }

    a {
      color: $zt-white;
    }

  }
}
