/*

  Colors
**/

$cl-bg: #EFD9CE;
$cl-primary: #DEC0F1;
$cl-secondary: #957FEF;
$cl-tertiary: #B79CED;
$cl-accent: #7161EF;

/*

  Typography


**/


/*


  
  Hero
**/

.hero {
  height: 100vh;
  background-color: $cl-bg;
  overflow: hidden;

  .copy {
    margin: 0px auto;

    h1 {
      text-align: left;
      width: 100%;
      color: $cl-accent;

      span {
        opacity: 0.15;
        color: $cl-secondary;
        -webkit-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
       }

      span.active {
        opacity: 1;
        -webkit-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
      }
    }  

    a {
      display: block;
      text-align: center;
      width: 100%;
    }      
  }

}