/*

  Variables
**/

// TODO: what if rotated
$on-mobile: 970px;


$white: white;

// The last color scheme defined will be used


// OG computer lab colors from cute computer
$cl-primary: #456C79;
$cl-bg: #F2F5F7;
$cl-secondary: #A1C4D0;
$cl-accent: #3BD603;








// Accidental black block theme
$cl-bg: #EFD9CE;
$cl-primary: #000;
$cl-secondary: #000;
$cl-accent: #7161EF;

// messing around with palette generator
$cl-primary: #456C79;
$cl-bg: #F2F5F7;
$cl-secondary: lighten(#C2986B, 15%);
$cl-accent: #C2796B;

// Colors from zach's hillary clinton wall of text
$cl-bg: #E9D9CE;
$cl-primary: #DEC0F1;
$cl-secondary: #907FEF;
$cl-accent: #7161EF;
/*

  Typography

**/

h1 {
  font-family: 'Lato';
  font-size: 2.3em;
}

h2 {
  font-family: 'Lato';
}



/* Utility */

.float-left {
  float: left;

}
.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.flex {
  display: flex;
}

.full-page {
  height: 100vh;

  @media (max-width: $on-mobile){
    height: 700px;
  }
}

.centered {
  margin: auto;
}

.vertically-centered {
  margin: auto 0;
}

.mobile-hidden {
  @media (max-width: $on-mobile){
    display: none;
  }
}

body {
}

/*
Hero / Animation
 **/

#art {
  background: white;
  width: 100%;
  color: $cl-secondary; // set rgb for the block color
}

.canvas-container {
  width: 100%;
  position: relative;
}

.copy, .mobile-footer {
  padding: 2.0em 3.5em 2.3em 3.5em;

  @media (max-width: $on-mobile){
    padding: 1.0em 1.5em 1.4em 1.5em;
  }

  a, a:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }


  p {
    color: black;
  }

  // qt3.14 computer
}

// We are here to help you copy is positioned above the falling blocks
.copy {
  position: absolute;
  top: 50%;
  right: 20px;
  background: rgba(255,255,255,.6);
  transform: translateY(-50%);
}

.details p, .details a {
  line-height: 1.0em;
  font-size: 0.9em;
  margin: .4em 0;
}

.details img {
  width: 28px;
  height: auto;
  margin-right: 13px;
}

/* Big image section */

/* Competencies Section */

// Create an attractive dashed underline

/*
.competencies a {
  background: linear-gradient(90deg, grey 66%, transparent 0) repeat-x;
  background-size: .4em 1px;
  background-position: 0 1.1em;
  color: inherit;
  text-decoration: none;
}

.competencies a:hover, .competencies a:focus {
  background: linear-gradient(90deg, $cl-accent 66%, transparent 0) repeat-x;
  background-size: .4em 1px;
  background-position: 0 1.1em;
  color: inherit;
  text-decoration: none;
}
*/


.competency {
  height: 550px;

  img{
    max-width: 75%;
    margin: auto;
  }
  


}

.competency > div {
    z-index: 100;
    height: 100%;
}

.competency-copy {
  max-width: 500px;
}


#data > div, #care > div {
  background-color: lighten($cl-accent, 32%);

}

#data > div.cutout, #care > div.cutout {
  background-color: fade-out(lighten($cl-accent, 32%), .4);
}

#app > div {
  background-color: lighten($cl-bg, 5%);
}

#app > div.cutout {
  background-color: fade-out(lighten($cl-bg, 5%), .4);
}

.mobile-spacer {
  height: 0px;
  height: 25px;


}
