html {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    background: repeating-linear-gradient(-45deg, rgba(255,255,255,0.13),
    rgba(255,255,255,0.14) 15px);
    // this is so that the footer stays at the bottom of the page if there's
    // not enough content on the page
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

#content {
  background-color: white;
  margin: $menu-height 0;
  flex: 1;
}

ul {
    padding: 0 25px;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
