html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  background-image: url('http://linkli.st/assets/background-blue-1c6507d407b241f4304b4a6df3209902.gif');
  
  // sticky footer
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

#content {
  background-color: white;
  margin: $menu-height 0 0;
  flex: 1;
}

ul {
  padding: 0 25px;
}

/*
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(white, 0.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(white, 0.2);
}
*/

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.center {
    text-align: center;
}
