html {
    width: 100%;
    height: 100%;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
    overflow-x: hidden;
}

ul {
    padding: 0 25px;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

