html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: $white; 
  overflow-x: hidden;

  // sticky footer
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

#content {
  background-color: $white;
  margin: $menu-height 0 0;
  flex: 1;
}

ul {
  padding: 0 25px;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.center {
    text-align: center;
}
