// typography 

body {
    width: 100%;
    height: 100%;
    font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: $copy;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: $base-spacing * 2 0 $base-spacing;
    font-family: "Montserrat", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: $primary;
}

p {
    margin: 0 0 25px;
    font-size: 20px;
    line-height: 150%;
    font-weight: 400;   
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 22px;
        line-height: 150%;
    }
}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $white;
    }
}

ul {

    li {
        margin: 2px 0 2px;
        line-height: 1.2;

        @media(min-width:768px) {
            margin: 2px 0 2px;
            line-height: 1.3;
        }        
    }
}

.primary {
    color: $primary;
}
.light {
    font-weight: 400;
}