// globaltypography 

body {
  width: 100%;
  height: 100%;
  font-family: adobe-garamond-pro,Times,sans-serif;
  font-weight: 400;
  color: $copy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $base-spacing * 2 0 $base-spacing;
  font-family: "Montserrat", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: $primary;

}

#archive, article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $copy;
  }
}

p {
  margin: 0 0 25px;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;   
  @media(min-width:768px) {
    margin: 0 0 35px;
    font-size: 23px;
  }
}

a {
  color: $pink;
  border-bottom: 2px solid transparent;

  &:hover,
  &:focus {
      text-decoration: none;
      color: $pink;
      border-bottom: 2px solid $pink;
  }
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &.primary {
    font-weight: 700;
  }
}

ul {

  li {
    margin: 2px 0 2px;
    line-height: 1.2;
    font-size: 22px;
    font-weight: 400;   

    @media(min-width:768px) {
      margin: 2px 0 2px;
      line-height: 1.3;
    }        
  }
}

.btn-default, a.btn-default {

  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 150%;
  color: $pink;

}

// typography utility classes
.pink {
    color: $pink;
    font-weight: 700;
}

.white {
  color: white;
}

.primary {
  color: $primary;
}
.light {
  font-weight: 400;
}
