// global 
body {
  font-family: 'Gill Sans', Arial, sans-serif;
  font-weight: 400;
  color: $copy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  margin: $base-spacing * 2 0 $base-spacing;
  font-family: 'Quadraat', serif;
  font-weight: 700;
  letter-spacing: 2px;
  color: $white;

  > a {
    // no underlines on header copy
    border-bottom: none !important;
    padding-bottom: none !important;
  }

}

p {
  margin: 0 0 $base-spacing;
  font-size: 19px;
  line-height: 150%;
  font-weight: 400;  
}

code {
  font-size: 80%;
  color: $copy;
}

a {
  color: $brand;
  padding-bottom: 2px;
  border-bottom: 2px solid $brand;

  &:hover,
  &:focus {
      text-decoration: none;
      color: $brand;
      border-bottom: 2px solid $brand;
  }

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &.primary {
    font-weight: 700;
  }
}

ul {

  li {
    margin: 2px 0 2px;
    line-height: 1.2;
    font-size: 22px;
    font-weight: 400;   

    @media(min-width:768px) {
      margin: 2px 0 2px;
      line-height: 1.3;
    }        
  }
}

.btn-default, a.btn-default {
  font-family: 'Gill Sans', Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 19px;
  line-height: 150%;
  text-transform: none;
  font-style: italic;
  color: $accent;
}

// blog
#archive, article {
  h1, h2, h3, h4, h6 {
    color: $copy;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: $base-spacing * 3;
  }

  h5 {
    color: $grey;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 400;
    color: $grey;
  }

  p {
    margin: 0 0 $base-spacing;
  }
  
  .post-meta > h5 {
    margin-top: 0;
  }
}
