// typography 

body {
  width: 100%;
  height: 100%;
  // font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: adobe-garamond-pro,Times,sans-serif;
  font-weight: 400;
  color: $copy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $base-spacing * 2 0 $base-spacing;
  font-family: "Montserrat", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: $primary;

}

#archive, article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $copy;
  }
}

p {
  margin: 0 0 25px;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;   
  @media(min-width:768px) {
    margin: 0 0 35px;
    font-size: 23px;
  }
}

span.primary {
  color: $primary;
  font-weight: 700;
}

a {
  color: $copy;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $copy;
  }
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &.primary {
    font-weight: 700;
  }
}

.content-section a {
  // on homepage with dark colored background
  color: $white;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    text-shadow: 0px 0px 1px $white;
  }
}

ul {

  li {
    margin: 2px 0 2px;
    line-height: 1.2;
    font-size: 22px;
    line-height: 150%;
    font-weight: 400;   

    @media(min-width:768px) {
      margin: 2px 0 2px;
      line-height: 1.3;
    }        
  }
}

.btn {
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.primary {
  color: $primary;
}
.light {
  font-weight: 400;
}
