// global typography 

body {
  font-family: "Gill Sans", Arial, sans-serif;
  font-weight: 400;
  color: $copy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  margin: $base-spacing * 2 0 $base-spacing;
  font-family: "Helvetica", serif;
  font-weight: 700;
  letter-spacing: 2px;
  color: $primary;

  > a {
    // no underlines on header copy
    border-bottom: none !important;
    padding-bottom: none !important;
  }

}

p {
  margin: 0 0 25px;
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;  

  @media(min-width:768px) {
    margin: 0 0 $base-spacing * 2;
    font-size: 21px;
  }
}

code {
  font-size: 80%;
  color: $copy;
}

a {
  color: $pink;
  padding-bottom: 3px;
  border-bottom: 2px solid $pink;

  &:hover,
  &:focus {
      text-decoration: none;
      color: $accent;
      border-bottom: 2px solid $pink;
  }
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &.primary {
    font-weight: 700;
  }
}

ul {

  li {
    margin: 2px 0 2px;
    line-height: 1.2;
    font-size: 22px;
    font-weight: 400;   

    @media(min-width:768px) {
      margin: 2px 0 2px;
      line-height: 1.3;
    }        
  }
}

.btn-default, a.btn-default {
  font-family: "Helvetica", serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 150%;
  text-transform: none;
  font-style: italic;
  color: $pink;

}

// blog typography

#archive, article {
  h1, h2, h3, h4, h6 {
    color: $copy;
  }

  h5 {
    color: $grey;
    font-family: "Gill Sans", sans-serif;
    font-weight: 400;
    color: $grey;

  }

  p {
    margin: 0 0 $base-spacing;
  }
}

// typography utility classes
.pink {
  color: $pink;
  font-weight: 700;
}

.accent {
  color: $accent;
  font-weight: 700; 
}

.white {
  color: white;
}

.primary {
  color: $primary;
}

.light {
  font-weight: 400;
}
