// _variables.scss


// brand colors
$primary: #FFF;
$copy: #2D2D35;
$light-grey: #FAFAFA;
$grey: #B1B1B1;
$white: #FFF;
$pink: #652ded; // other option is #4907EA
$accent: #652ded;
$yellow: #fee4c2;

$pinpoints-blue: rgb(20, 15, 49);

// spacing
$base-spacing: 15px;
$base-spacing-small: 5px;

// all content will be set this far off the top of the page by default
$menu-height: 94px;

// device sizes

$tablet: 991px;