// _variables.scss


// brand colors
$copy: #494949;
$border-grey: #F0F0F2;
$light-grey: #FAFAFA;
$white: #FFF;

$brand: #652ded;
$secondary: #2f5bec;
$accent: #CCC0B4;
$grey: #B1B1B1;

// spacing
$base-spacing: 15px;
$base-spacing-small: 5px;

// all content will be set this far off the top of the page by default
$menu-collapse-height: 65px;
$menu-height: 70px;

// device sizes
$tablet: 1024px;
$mobile: 769px;
