// Variables


// brand colors
$primary: #FFF;
$copy: #2D2D35;
$grey: #F1F1F1;
$white: #FFF;
$pink: rgb(250,30,100);

// spacing
$base-spacing: 15px;
$base-spacing-small: 5px;

// all content will be set this far off the top of the page by default
$menu-height: 94px;
