footer {
  background-color: $pink;
  height: auto;
  color: $white;
  padding: $base-spacing;
  line-height: 28px;

  .push-left {
    float: left;
  }

  .push-right {
    float: right;
  }

  .pull-left, .pull-right {
    display: inline-block;
    width: 300px;
  }

  a {
    margin-left: $base-spacing;
    color: $white;
  }

  a:hover, a:focus {
    color: rgb(250,30,100);
  }
}
