footer.footer {
  background-color: $copy;
  height: auto;
  color: $white;
  padding: $base-spacing * 2;
  text-align: left;

  @media (max-width: 767px) {
      text-align: center;
  }

  span {
    color: $white;
  }
}