footer {
  background-color: $copy;
  height: auto;
  color: white;
  font-family: 'Montserrat', sans-serif;
  line-height: 28px;
  position: relative;

  .pull-left, .pull-right {
    padding: $base-spacing 0;
  }

  a {
    margin-left: $base-spacing;
    color: white;
  }
  a:hover, a:focus {
    color: rgb(250,30,100);
  }
}
