footer {
  background-color: $brand;
  height: auto;
  color: $white;
  padding: $base-spacing;
  line-height: 28px;

  .push-left {
    float: left;
  }

  .push-right {
    float: right;
  }

  .pull-left, .pull-right {
    display: inline-block;
    width: 150px;
  }

  a {
    margin-left: $base-spacing;
    border-bottom: none;
    color: $white;
  }

  a:hover, a:focus {
    color: $copy;
  }
}
