// header/nav 

.navbar-nav {
  float: left !important;
}

.navbar-custom {
  margin-bottom: 0;
  background: transparent;
  color: $copy;

  .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: $copy;

    @media (max-width: 767px) {
      color: $copy;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  .navbar-brand {
    font-weight: 700;
    color: $copy;
    border-bottom: none;
    text-transform: none;

    &:focus, &:hover {
      outline: none;
      color: $copy;
      border-bottom: none;
    }
  }

  a {
    color: $copy;
    border-bottom: none !important;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }

  .nav {
    min-height: $base-spacing * 2;

    li {

      a {
        -webkit-transition: color .3s ease-in-out;
        -moz-transition: color .3s ease-in-out;
        transition: color .3s ease-in-out;
        border-bottom: 2px solid transparent;
        font-size: 16px;

        &:hover {
          color: $pink;
          outline: none;
          background-color: transparent;
          border-bottom: 2px solid $pink;
        }

        &:focus,
        &:active {
          outline: none;
          background-color: transparent;
          color: $copy;
        }
      }

      &.active {
        outline: none;

        a {
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  @media(min-width:768px) {
    min-height: $base-spacing * 2;
    padding: $base-spacing 0;
    border-bottom: none;
    background: transparent;
    letter-spacing: 1px;
    color: $copy;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;

    &.top-nav-collapse {
      padding: 0;
      background: transparent;

      a {
        color: $copy;
      }
    }
  }

  @media(max-width:767px) {
    background: transparent;

    .navbar-brand {
      color: $copy;
    }

    a {
      color: $copy;
    }
  }
}