// header/nav 


.navbar-nav {
  float: left !important;
}

.navbar-custom {
  margin-bottom: 0;
  color: $copy;

  .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: $copy;

    @media (max-width: 767px) {
      color: $copy;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  a.navbar-brand {
    color: $white;
    font-family: "Quadraat";
    font-size: 21px;
    font-weight: 700;
    margin-top: -$base-spacing * 2;
    border-bottom: none;
    text-transform: none;

    > svg {
      -webkit-transition: all .3s ease-in-out;
      width: $base-spacing * 4;

      &.filled {
        display: none;
      }

      > g {
        fill: $brand;  
      }

    }

    h4 {
      display: none;
    }

    &:focus, &:hover {
      outline: none;
      color: $copy;
      border-bottom: none;
    }
  }

  a {
    color: $copy;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .nav {
    min-height: $base-spacing * 2;

    li {

      a {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        border-bottom: 1px solid transparent;
        font-size: 17px;
        color: $grey;

        &:hover {
          color: $brand;
          outline: none;
          background-color: transparent;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          }

        &:focus,
        &:active {
          outline: none;
          background-color: transparent;
          color: $brand;
        }
      }

      &.active {
        outline: none;

        a {
          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  @media(min-width:768px) {
    min-height: $base-spacing * 2;
    padding: $base-spacing*2 0;
    background-color: transparent;
    letter-spacing: 1px;
    color: $white;
    font-size: 24px;

    -webkit-transition: all .3s ease-in-out, padding .3s ease-in-out;
    -moz-transition: all .3s ease-in-out, padding .3s ease-in-out;
    transition: all .3s ease-in-out, padding .3s ease-in-out;

    &.top-nav-collapse {
      background-color: transparent;

      h4 {
        display: block;
      }

      // .navbar-right, .navbar-left {
      //   margin-top: 0;
      // }

      a {
        color: $copy;
      }
    }
  }

  @media(max-width:767px) {

    .navbar-custom .navbar-toggle > i{
      color: $brand;
    }

    .navbar-right, .navbar-left {
      background-color: $white;
    }

    a {
      color: $copy;
    }
  }
}

/* Landing Page Only */
body.index {

  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
    padding: $base-spacing * 2 0;

    a.navbar-brand {
      margin-top: -$base-spacing * 2;
      border-bottom: none;

      > svg {  
        display: none;
        margin: $base-spacing-small auto auto;
        width: 60px;

        &.filled {
          display: block;
        }

        > g {
          fill: $white;  
        } 
      }
    }

    a {
      color: $white; 

      &:hover {
        color: $white;
        padding-bottom: $base-spacing-small;
      }
    }

    &.top-nav-collapse {
      background-color: transparent;
      padding: $base-spacing * 2 0; 
      border-bottom: 1px solid transparent;

      a.navbar-brand {

        > svg {  
          display: block;

          &.filled {
            display: none;
          }

          > g {
            fill: $brand;  
          } 
        }

      }

      a {
        color: $grey;
      }
    }
  }
}
